* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 93%;
    background-color: #191A1F;
    font-family: 'Consolas';
    color: #FFFFFF;
}

.menu {
    padding-top: 100px; 
    margin-left: 70px;
}

.menu-header {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.home-page a {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    text-decoration: none;
    color: #FFFFFF;
}

.detail-menu {
    padding-top: 15px;
    display: flex;
    width: 50%;
    justify-content: space-around;
    font-weight: 700;
    font-size: 32px;
    line-height: 37px;
}

.detail-menu a {
    text-decoration: none;
    color: white;
}

.content h1 {
    position: absolute;
    width: 528px;
    height: 75px;
    left: 50px;
    top: 475px;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
}

.content p {
    position: absolute;
    width: 752px;
    height: 126px;
    left: 50px;
    top: 574px;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
}

.projects {
    position: absolute;
    width: 302px;
    height: 78px;
    left: 70px;
    top: 772px;

    background: #4B7AF5;
    border-radius: 40px;    
}

.projects a {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-decoration: none;

    color: #FFFFFF;
}

.rectangle {
    position: absolute;
    width: 580px;
    height: 743px;
    left: 802px;
    top: 281px;

    background: #121318;
}

.rectangle img {
    position: relative;
    width: 521px;
    height: 695px;
    left: 30px;
    top: 48px;
}

.login {
    position: absolute;
    width: 302px;
    height: 78px;
    left: 400px;
    top: 772px;

    background: #FFFFF;
    border-radius: 40px; 

}

.login a {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-decoration: none;

    color: black;

}